<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Path /**/ -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Del billeder, blogs & meget andet" />
        <meta name="author" content="Hypll" />
        <!-- Bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"
        ></script>
        <!-- Other (eg: styles, scripts) -->
        <link rel="stylesheet" href="../../style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script src="../../script.js" defer></script>
        <title>Forumerly Discussion- <%= post.title %></title>
    </head>
    <% if (user) { %> 
        <% if (user.darkmode === "true")  {%> 
            <body class="dark-mode">
            <% } else { %>
            <body>
            <% } %>
        <% } %>
        
        <%- include("./components/Navbar.ejs") %> <%-
        include("./components/loader.ejs") %>

        <div class="container mt-5">
            <% if (success.length > 0) { %>
            <div class="alert alert-success alert-remove fade-out" role="alert">
                <%= success %>
            </div>
            <% } %>
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title fs-4"><%= post.title %></h1>
                            <a
                                style="text-decoration: none"
                                href="/forum/<%= post.category.toLowerCase() %>"
                                >I <%= post.category %></a
                            >
                        </div>
                        <div class="card-body">
                            <p class="card-text text-muted"><%= post.body %></p>
                        </div>
                        <div class="card-footer">
                            <div class="mb-1 mt-1">
                                <small class="text-muted">
                                    <%= post.createdAt.toLocaleDateString() %> -
                                    <i class="fa-solid fa-eye"></i> <%=
                                    post.views %> - <i class="fa-solid fa-comment"></i> <%=
                                    comments.length %> - <i class="fa-solid fa-user"></i> <a style="text-decoration: none;" href="/forum/u/<%= postAuthor.id %>"><%= postAuthor.name  %></a> -
                             
                                </small>
                            </div>
                            <div>
                                <small class="text-muted">
                                    <% post.tags.map((tag) => { %>
                                    <a
                                        style="text-decoration: none"
                                        href="/forum/tag/<%= tag.toLowerCase() %>"
                                        >#<%= tag %></a
                                    >
                                    <% }) %>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h1 class="fs-5">Kommentarer</h1>
                    <% if (comments.length === 0) { %>
                    <p class="text-muted mb-5">
                        <i class="fa-solid fa-comment-dots"></i> Der er endnu
                        ingen kommentarer.
                    </p>
                    <% } %> <% comments.map((comment) => { %>
                        <div class="card mb-4">
                            <div class="card-body">
                              <p><%= comment.content  %> </p>
                  
                              <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                  <img src="<%= comment.author[2] %>" alt="<%= comment.author[0]  %>" class="rounded-circle" width="25"
                                    height="25" />
                                  <a href="/forum/u/<%= comment.author[0] %>" class="small mb-0 ms-2">@<%= comment.author[1] %></a>
                                </div>
                                <% if (user) { %> <% if (comment.author[0]
                                    === user.id) { %>
                                <form class="d-flex flex-row align-items-center" action="/api/comment/<%= comment._id %>?_method=DELETE" method="post">
                                  <button type="submit" style="border: none; background: none;" class="text-danger">
                                    <i class="fa-solid fa-trash-alt"></i>
                                    </button>
                                </form>
                                <% } %> <% } %>
                              </div>
                            </div>
                          </div>
            
                    <% }) %>
                    
                    <% if (user) { %>
                    <form class="mb-4 container" action="/api/comment" method="post">
                        <hr size="10" />
                        <h1 class="fs-5">Kommentar</h1>
                        <div class="form-group mb-2">
                            <label
                                for="comment"
                                class="text-muted mb-2"
                                style="font-size: 0.9rem"
                            >
                                Byd ind i denne diskussionen, med en
                                kommentar!</label
                            >
                            <input
                                class="form-control"
                                id="comment"
                                name="comment"
                                rows="3"
                                onkeyup="validation(this)"
                                placeholder="Skriv din kommentar her..."
                            />
                        </div>
                        <input
                            type="hidden"
                            name="postId"
                            value="<%= post._id %>"
                        />
                        <button
                            type="submit"
                            id="commentSubmit"
                            class="btn btn-sort"
                        >
                            Opret kommentar
                        </button>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>
