<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Path /**/ -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Del billeder, blogs & meget andet" />
        <meta name="author" content="Hypll" />
        <!-- Bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"
        ></script>
        <!-- Other (eg: styles, scripts) -->
        <link rel="stylesheet" href="./style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script src="./script.js" defer></script>
        <title>Forumerly</title>
    </head>
    <body>
        <%- include("./components/Navbar.ejs") %> <%-
        include("./components/loader.ejs") %>
        <div class="container mt-5">
            <% if (error.length > 0) { %>
            <div class="alert alert-danger alert-remove fade-out" role="alert">
                <%= error %>
            </div>
            <% } %>

            <div class="container text-center mb-5">
                <div class="row">
                    <h1 class="text-dark fs-1">Forumerly</h1>
                    <p class="text-muted" style="font-size: 13px">
                        Velkommen til, du kan dele billeder, lave blog posts &
                        meget mere.
                    </p>
                </div>
            </div>

            <div class="container">
                <div>
                    <% if (user) { %>
                    <button
                        class="btn btn-sm btn-sort"
                        onclick="r('/forum/new')"
                    >
                        Opret nyt indlæg
                    </button>
                    <% } else { %>
                    <button
                        class="btn btn-sm btn-sort"
                        onclick="r('/login')"
                        disabled
                    >
                        Opret nyt indlæg
                    </button>
                    <% } %>
                </div>

                <div class="row mt-2 mb-5" id="kategorier"></div>

                <div class="row mb-2" id="posts">
                    <h1 class="text-dark fs-5">Nye indlæg</h1>
                    <p class="text-muted" style="font-size: 12px">
                        Her er de nyeste indlæg.
                    </p>

                    <div class="row" id="newPosts">
                        <% if (posts.length === 0) { %>
                        <div class="col-12">
                            <div class="alert alert-dark alert-sm" role="alert">
                                <i class="fa-solid fa-circle-info"></i> Der er
                                ingen nye indlæg.
                            </div>
                        </div>
                        <% } %> <% for (let post of posts) { %>
                        <div class="col-md-4">
                            <div class="card mb-3" post="<%= post.title %>">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= post.title %>
                                    </h5>
                                    <p class="card-text text-muted">
                                        <%= post.description %>
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button
                                                class="btn btn-sm btn-sort"
                                                onclick="r('/forum/d/<%= post.id %>')"
                                            >
                                                Læs mere
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <p
                                                class="text-muted"
                                                style="font-size: 14px"
                                            >
                                                <%=
                                                post.createdAt.toLocaleDateString()
                                                %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
